* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a{
    color: rgb(156, 151, 238);
}

.container{
    width: 100%;
    margin: auto;
}

#blocknav{
    position: fixed;
    width: 100%;
}

#firstnav {
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    position: relative;
    background-color: rgb(0, 132, 253);
}

#bgfoot{
    background-color: rgb(51, 51, 51);
}

#foot{
    padding: 4rem;
    max-width: 920px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#footer{
    
}

.bg{
    background-color: rgb(151, 146, 228);
    
}

.barranav{
    flex-direction: row
}

.phone{
    margin: 0 auto;
    padding-top: 10em;
    padding-bottom: 5rem;
    display: flex;
    max-width: 920px;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.app{
    padding: 1rem;
    width: 100%;
    height: 18rem;
    display: flex;
    border-radius: 1rem;
}

.box{
    width: 100%;
    min-height: 100%;
    background-color: rgb(181, 221, 255);
    border-radius: 1rem;
}

.padd .box{
    display: flex;
    flex-direction: column;
}

.padd{
    padding: 1rem;
}

.insidedemo{
    width: 100%;
    padding: 1rem;
}
.strategic{
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    max-width: 920px;
    justify-content: space-evenly;
}

.planning{
    padding: 1rem;
    width: 100%;
    height: 18rem;
    display: flex;
    border-radius: 1rem;
}

.develop{
    width: 100%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

.committed{
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    max-width: 920px;
    justify-content: center;
    flex-direction: column;
}

.testimonial{
    padding: 0rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.partner{
    padding: 1rem;
    width: 100%;
    height: 12rem;
    display: flex;
    border-radius: 1rem;
    margin-bottom: 3%
}


.idpartner {
    flex-basis: calc(100% / 4);
    background-color: blue;
    border-radius: 1rem 0rem 0rem 1rem;
}

.datipartner{
    flex-basis: calc(100% / 4 * 3);
    background-color: red;
    border-radius: 0rem 1rem 1rem 0rem;
}

.benefits{
    padding: 4rem;
    display: flex;
    justify-content: center;
    color: white
}

.card-contanier{
    margin: 0 auto;
    padding-top: 10em;
    padding-bottom: 5rem;
    display: flex;
    max-width: 920px;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    background-color: white;
    margin-bottom: 1rem;
    width: 18rem;
    height: 25rem;
    display: flex;
    border-radius: 1rem;
}

.aboutus{
    margin: 0 auto;
    padding: 7rem 0;
    display: flex;
    max-width: 920px;
    justify-content: space-evenly;
}

.contesto{
    height: 30rem;
    flex-basis: 80%;
    background-color: red
}

.foto{
    height: 30rem;
    flex-basis: 30%;
    background-color: blue;
}

.free{
    padding: 4rem;
    max-width: 920px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}